<% include ./partials/header.ejs %>

<div class="ui main text container">
	<div class="ui huge header">
		RESTFull App
	</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			<%posts.forEach(function(post){%>
				<div class="item">
					<div class="image">
						<img class="ui centered rounded image" src="<%= post.image %>">
					</div>
					<div class="content">
						<a class="header" href="/posts/<%=post._id%>"><%=post.title%></a>
						<div class="meta">
							<p><%=post.date.toDateString()%></p>
						</div>
						<div class="description">
							<p><%=post.description.substring(0,100)%>...</p>
						</div>
						<div class="extra">
							<a class="ui right floated purple button" href="/posts/<%=post._id%>">Show more</a>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>








<% include ./partials/footer.ejs %>