<%include ./partials/header.ejs %>
<div class=" ui main text container segment">
	<div class="ui huge header"><%= post.title %></div>
	<div class="ui top">
		<div class="item"><img class="ui centered rounded image" src="<%= post.image %>"></div>
		<div class="item"><%= post.date.toDateString()%></div>
	</div>
	<div class="ui raised segment">
		<p><%=post.description%></p>
	</div>
	<a class="ui orange button" href="/posts/<%=post._id%>/edit">Edit</a>
	<form id="delete" method="POST" action="/posts/<%=post._id%>?_method=DELETE"><button class="ui red button">Delete</button></form>
</div>




<%include ./partials/footer.ejs %>